@import url('data:application/octet-stream;base64,QGZvbnQtZmFjZSB7CiAgZm9udC1mYW1pbHk6ICdSYWxld2F5JzsKICBmb250LXN0eWxlOiBub3JtYWw7CiAgZm9udC13ZWlnaHQ6IDQwMDsKICBmb250LWRpc3BsYXk6IHN3YXA7CiAgc3JjOiBsb2NhbCgnUmFsZXdheScpLCBsb2NhbCgnUmFsZXdheS1SZWd1bGFyJyksIHVybChodHRwczovL2ZvbnRzLmdzdGF0aWMuY29tL3MvcmFsZXdheS92MTMvMVB0dWc4ellTX1NLZ2dQTnlDMElTZy50dGYpIGZvcm1hdCgndHJ1ZXR5cGUnKTsKfQo=');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;	
}
.fondo{
  background-color: rgba(203,203,210);
}
.contenedor{
  padding: 25px;
  padding-top: 0;
}
/*MIGAS*/
.breadcrumb{
  border-radius: 0;
  background: rgba(42, 43, 42, 1);  
}
.breadcrumb a{
  color: #D4AF37;
}
.breadcrumb a:hover{
  border-bottom: 2px solid #D4AF37;
  color: #D4AF37;
}
/*calendario*/
.calendario{
  margin-top: 15px;
  padding: 25px;
  height: 100vh;
  border-radius: 5px;
  background-color: #fff;
}
/*panel derecho*/
.panel-derecho{
  height: 100vh;
  padding-right: 0; 

}
.row{
  margin: 0;
}
/*panel atajos*/
.panel-atajos{
  margin-left: 25px;
  height: 40vh;
  border-radius: 5px;
}
/*recordatorios*/
.recordatorios{
  margin-top: 15px;
    background-color: #fff;
}
/*atajos*/
.atajos{
  padding: 20px;
  margin-top: 15px;
  background-color: #fff;
}
.grafica{
  margin-left: 25px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #fff;
  height: 50vh;
}
.espacio{
  width: 23px;
}
/* ATAJOS */
.atajos h3 img{
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.atajos h3{
  color: rgb(120, 120, 120);
  font-size: 20px;
  font-weight: 600;
}
.atajos h2 img{
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.atajos a{
  color: rgb(120, 120, 120); 
  text-decoration: none;
}
.atajos a:hover{
  color: #000;
  border-left: 2px solid #D4AF37;
  padding-left: 20px;
  transition: .3s;
}
.atajos h2{
  font-size: 30px;
  margin-left: 20px;
  margin-top: 40px; 
}